<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Продаж авто</title>
</head>
<body>
<h1>Шукаєте нове авто?! Тоді ми йдемо до Вас. Ми пропонуємо нові та вживані авто на продаж за найнижчими цінами!</h1>
<p>Для  додаткової інформації, будь ласка, оберіть одне з посилань нижче:</p>
<ul>
    <li><a href="{% url 'cars:car_list' %}">Наявні авто</a></li>
    <li><a href="{% url 'dealers:dealer_list' %}">Дилери</a></li>
    <li><a href="{% url 'orders:order_list' %}"></a> Авто на замовлення</li>
</ul>
<p><a href="{% url 'newsletters:new_newsletter' %}">Підписатись розсилку >>></a></p>
</body>
</html>
